header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 190px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    img{
        width: 150px;
    }
}